.cart-button {
    display: flex;
    align-items: center;
}

/*.add-to-cart {*/
/*    background-color: #28a745;*/
/*    color: #ffffff;*/
/*    border: none;*/
/*    padding: 8px 16px;*/
/*    cursor: pointer;*/
/*    border-radius: 4px;*/
/*    font-size: 16px;*/
/*}*/

.add-to-cart {
    background-color: #ccc;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: not-allowed; /* Указывает, что кнопка неактивна */
    border-radius: 4px;
    font-size: 14px;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.decrease, .increase {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 6px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
}

.quantity-input {
    width: 40px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 4px;
    font-size: 16px;
}