.storybook-button {
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}
.storybook-button--type-one {
    color: white;
    background-color: #007bff;
}
.storybook-button--type-two {
    color: white;
    background-color: #c91e39;
}

/*.storybook-button--secondary {*/
/*    color: #333;*/
/*    background-color: transparent;*/
/*    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;*/
/*}*/
/*.storybook-button--small {*/
/*    font-size: 12px;*/
/*    padding: 10px 16px;*/
/*}*/
/*.storybook-button--medium {*/
/*    font-size: 14px;*/
/*    padding: 11px 20px;*/
/*}*/
/*.storybook-button--large {*/
/*    font-size: 16px;*/
/*    padding: 12px 24px;*/
/*}*/
